################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HelloWorld/config
/.vs/HelloWorld/DesignTimeBuild
/HelloWorld/bin/Debug/netcoreapp3.1
/HelloWorld/obj/Debug/netcoreapp3.1/staticwebassets
/HelloWorld/wwwroot/lib
/HelloWorld/wwwroot/js
/HelloWorld/wwwroot/css
/HelloWorld/wwwroot
/HelloWorld/obj/project.nuget.cache
/HelloWorld/obj/project.assets.json
/HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.Views.pdb
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.Views.dll
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.TagHelpers.output.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.TagHelpers.input.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.RazorTargetAssemblyInfo.cs
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.RazorTargetAssemblyInfo.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.RazorCoreGenerate.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.RazorAssemblyInfo.cs
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.RazorAssemblyInfo.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.pdb
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.MvcApplicationPartsAssemblyInfo.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.genruntimeconfig.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.exe
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.dll
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csprojAssemblyReference.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csproj.FileListAbsolute.txt
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csproj.CoreCompileInputs.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.csproj.CopyComplete
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.assets.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.AssemblyInfoInputs.cache
/HelloWorld/obj/Debug/netcoreapp3.1/HelloWorld.AssemblyInfo.cs
/HelloWorld/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/HelloWorld/obj/Debug/netcoreapp3.1/Razor/Views
