@model HelloWorld.Models.ProjectViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@{
    

}
<ul class="list-group">
    <li class="list-group-item">@Model.Nazwa</li>
    <li class="list-group-item">@Model.Cena</li>
    
</ul>
<h4></h4>
<h4></h4>


