@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
tu ma być link do project/details   @*TO SIĘ WYŚWIETLA?*@
<section>
    <a asp-area="" asp-controller="Project" asp-action="Details">Project/Details</a>
</section>
<section>
    <a asp-area="" asp-controller="Register" asp-action="Index">Rejestracja</a>
</section>