@model HelloWorld.Models.EditUserViewModel
@{
    ViewData["Title"] = "User Details";
}

<h1>User Details: </h1>

<ul class="list-group">
    <li class="list-group-item">Imie: @Model.FirstName</li>
    <li class="list-group-item">Nazwisko: @Model.LastName</li>
    <li class="list-group-item">O sobie: @Model.AboutMe</li>

    

</ul>

