@model HelloWorld.Models.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <input asp-for="Id"/>
    <input asp-for="FirstName"/>
    <input asp-for="LastName"/>
    <input asp-for="Age"/>
    <textarea asp-for="Description"></textarea>
    
</form>





